@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

/* Containers ..........................................................................*/

div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 150px;
  width: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header_container div{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;

}

/*Row */
.row div{
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

/*Columns */
.work div{
}

.column div{
	float: left;
	width: 50%;
}

.work:after {
    content: "";
    display: table;
    clear: both;
}

/* Headings ..........................................................................*/
h1 {
	color: maroon;
	margin-left: 100px;
	font-family: apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 40px;


}

h2 {
	margin-left: 100px;
	color: grey;
	font-family: -apple-system-subheadline, BlinkMacSystemFont, sans-serif;
	font-size: 15px;
}

h3{
	color: black;
	margin-left: 100px;
	font-family: -apple-system-short-headline, BlinkMacSystemFont, sans-serif;
}

h4{
	color: grey;
	margin-left: 100px;
	font-family: -apple-system-short-subheadline, BlinkMacSystemFont, sans-serif;
}

body {
	background-color: LightCyan; 
}

p {
	margin-left: 100px;
	font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
	font-size: 15px;
	line-height: 25px;
	color: #196666;
}

.right_p p{
	float:left;
	line-height: 1.0;
	padding-right: 40px;
}

/*Menu Bar ..........................................................................*/

ul {
    list-style-type: none;
    margin-left: 100px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
	font-family: -apple-system-tall-body, BlinkMacSystemFont, sans-serif;
	font-size: 15px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: blue;
}
/*Images.........................................................................*/

img {
	margin-left: auto;
	margin-right: auto;
}

.work_img{
	display: block;
	margin-right: 100px;
	border-radius: 5px;
	padding-left: 0px;
	box-shadow: 8px 8px 4px #aaa;
}




/*Columns.........................................................................*/
@media screen and (min-width: 480px) {

  #primary {
    width: 45%;
    float: left;
    padding: 0 2.5%;
  }

  #secondary {
    width: 45%;
    float: left;
    padding: 0 2.5%;
  }
}

/*Media Queries.......................................................................*/


